h1{
    font-size: 7vw;
    margin: 0;
}

.container{
    padding-top: 31.5vh;
    height: 64vh;
}

.row input{
    padding: 0px;
    color: white;
    width: 90vw;
    background-color: black;
    font-size: 9vw;
    height: 12vh;
}

.button{
    width: 22vw;
    border-radius: 10vw;
    font-size: 3vh;
}

#but0{
    width: 45vw;
    border-radius: 10vw;
}